:markdown
	# About

	## History

	Ezac was originally developed in PHP in 2012 by Ludovic Hablot and Martin Delagrèverie for the French folk association “La Campanule” based on a idea of Sébastien Matharel.

	The current version has been created Julien Fontanet.

	## License

	Ezac is released under the very permissive a [ISC license](https://en.wikipedia.org/wiki/ISC_license).

	Its [source code](https://github.com/julien-f/ezac) is available on [Github](https://github.com).
