doctype html
html
	head
		meta(charset = 'utf-8')
		title Ezac
		link(rel = 'stylesheet', href = './app.css')

	body(ng-app = 'ezac')

		nav.navbar.navbar-inverse.navbar-fixed-top: .container

			//- Brand and toggle get grouped for better mobile display.
			.navbar-header

				//- Button used to (un)collapse on mobile display.
				button.navbar-toggle(
					type = 'button',
					ng-init = 'navBarCollapsed = true'
					ng-click = "navBarCollapsed = !navBarCollapsed"
				)
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				//- Brand.
				a.navbar-brand(ui-sref = 'home') Ezac

			//- All navbar items are collapsed on mobile display.
			.collapse.navbar-collapse(ng-class = '!navBarCollapsed && "in"')

				//- Right items of the navbar.
				ul.nav.navbar-nav.navbar-right

					//- Main menu.
					li.dropdown
						a.dropdown-toggle
							i.fa.fa-th
						ul.dropdown-menu
							li(ng-class = '{active: $uiRoute}', ui-route = '/')
								a(ui-sref = 'home') Home
							li(ng-class = '{active: $uiRoute}', ui-route = '/events/new')
								a(ui-sref = 'new-event') New event
							li(ng-class = '{active: $uiRoute}', ui-route = '/about')
								a(ui-sref = 'about') About

		.container

			div(ui-view)

		script(src = './app.js')
