h1 Create an event

form.form-horizontal(ng-submit = 'createEvent(name, description, active)')

	.form-group
		label.control-label.col-sm-2 Event name
		.col-sm-10
			input.form-control(
				ng-model = 'name'
				type = 'text'
				required
				placeholder = 'Event name'
			)

	.form-group
		label.control-label.col-sm-2 Date
		.col-sm-3: .input-group
			input.form-control(
				ng-model = 'date'
				type = 'text'
				required
				datepicker-popup = 'dd MMMM yyyy'
				day-format = 'd'
				is-open = 'datePickerOpened'
				min = '""'
				starting-day = '1'
			)
			span.input-group-btn: button.btn.btn-default(
				ng-click='openDatePicker($event)'
				type = 'button'
			)
				i.glyphicon.glyphicon-calendar
		.col-sm-7
			timepicker(
				ng-model = 'time'
				show-meridian = 'false'
				minute-step = '15'
			)

	.form-group
		label.control-label.col-sm-2 Event description
		.col-sm-5
			textarea.form-control(
				ng-model = 'description'
				placeholder = 'Event description'
				rows = 5
				value = ''
			)
		.col-sm-5.panel.panel-default
			.panel-body(ezac-bind-html = "{{descriptionPreview}}")

	.form-group
		.col-sm-offset-2.col-sm-10
			label.checkbox
				input(
					ng-model = 'active'
					type = 'checkbox'
				)
				| Active?

	.form-group
		.col-sm-offset-2.col-sm-10
			button.btn.btn-default(type = 'submit') Create the event
